<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "Hotline tests suite">

    <test name = "Oleksii's tests">
        <classes>
            <class name = "Tests.HotlineCatalogTest" />
            <class name= "Tests.HotlineCityChangingTest" />
            <class name="Tests.HotlineFinanceTabTest"/>
            <class name="Tests.HotlineFooterLogoTest"/>
            <class name="Tests.HotlineHeaderLogoTest"/>
            <class name="Tests.HotlineLoginTest"/>
            <class name="Tests.PopularForYouBlockTest"/>
            <class name = "Tests.HotlineRegistrationTest" />
            <class name="Tests.HotlineSearchTest"/>
        </classes>
    </test>

    <test name = "Ihor's tests">
        <classes>
            <class name="Tests.LanguageChangeTest"/>
        </classes>
    </test>

</suite>